.Rprofile
.Rproj.user
.Rhistory
*.Rproj
.RData
.Ruserdata

analysis_scripts/Rplots.pdf

renv/
.idea/
analysis_plots/
analysis_outputs/
analysis_plots_thesis/
analysis_outputs_thesis/
data/*csv
data/*json
data/dem/
data/worldclim/
metadata/
